<section class="education p-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-lg-2 align-self-center">
                <div class="rotate-text  text-center p-2">
                    <div class="text">Education</div>
                </div>
            </div>
            <div class="col-lg-3 align-self-center d-none d-lg-block line mx-0"></div>
            <div class="col-12 col-lg-6 mt-2">
                <div class="timeline-item">
                    <h1>B.Tech In Computer Science</h1>
                    <p class="text-uppercase">gitam (deemed to be university)</p>
                    <p class="year">Session: 2017-present</p>
                    <p class="cgpa">CGPA: 7.92(Till 5th sem)</p>
                </div>

                <div class="timeline-item">
                    <h1>12 <sup>th</sup></h1>
                    <p class="text-uppercase">narayana jr college</p>
                    <p class="year">Session: 2015-2017</p>
                    <p class="cgpa">Percentage: 89%</p>
                </div>

                <div class="timeline-item">
                    <h1>10<sup>th</sup> </h1>
                    <p class="text-uppercase">narayana high school</p>
                    <p class="year">Session: 2014-2015</p>
                    <p class="cgpa">Percentage: 85%</p>
                </div>
            </div>
        </div>
    </div>
</section>