<section class="about-me">
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-sm-12 col-lg-2  align-self-center">
                <div class="rotate-text p-2">
                    <div class="text text-center">ABOUT ME</div>
                </div>
            </div>
            <div class="col-lg-1 align-self-center d-none d-lg-block line mx-0"></div>
            <div class="col-8 col-lg-4 content mx-auto mx-lg-2 my-5 my-lg-0">
                <div class="card shadow">
                    <img src="../../assets/profilepic2.jpeg" alt="" width=100% height=100% class="img-fluid">
                </div>
            </div>
            <div class="col-12 col-lg-4  content align-self-lg-center">
                <div class="about-text text-justify">
                    <p>As a passionate Web Developer from India.., I have acquired the skills and knowledge
                        necessary to make your
                        project a success. I enjoy every step of the design process, from discussion and
                        collaboration to concept and
                        execution, also I like to be a part of a productive team.
                    </p>
                </div>
                <div class="text-center">
                    <button class="btn btn-color p-2">Download CV</button>
                </div>
            </div>
        </div>
    </div>
</section>