<section class="contact p-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center d-none d-lg-block line mt-5"></div>
            <div class="col-12 col-lg-6 text-center">
                <div class="text">Contact</div>
            </div>
            <div class="col-12 col-lg-4 align-self-center my-3 my-lg-0 d-none d-md-block d-lg-block d-xl-block ">
                <div class="contact-text">
                    To get in touch with me,
                    <a class="btn btn-color px-4" href="mailto:saivamsivarma6@gmail.com">Click Here</a>
                </div>
            </div>
            <div class="col-12 col-md-4 my-3 d-block d-md-none d-lg-none d-xl-none">
                <div class="contact-text">
                    To get in touch with me,
                    <a class="btn btn-color px-4"  href="tel:+917337448258">Click Here</a>
                </div>
            </div>

            <div class="col-12 col-lg-8 align-self-center mt-sm-0 mt-lg-4">
                <div class="card shadow p-4">
                    <form class="form-group">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <input type="text" class="form-control" placeholder="Name" required>
                            </div>
                            <div class="col-12 col-lg-6 mt-4 mt-lg-0">
                                <input type="text" class="form-control" placeholder="Email" required>
                            </div>
                            <div class="col-12 mt-3">
                                <textarea placeholder="message" id="" cols="30" rows="10"
                                    class="form-control p-3"></textarea>
                            </div>
                            <div class="col-12 text-center mt-4">
                                <input type="submit" value="Send Message" class="btn btn-color px-3">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>