<section class="skills">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="row">
                    <div class="col-4 text-center">
                        <fa-icon [icon]="faHtml5"></fa-icon>
                        <div class="skill1">HTML</div>
                    </div>
                    <div class="col-4 text-center">
                        <fa-icon [icon]="faCss3"></fa-icon>
                        <div class="skill1">CSS3</div>
                    </div>
                    <div class="col-4 text-center">
                        <fa-icon [icon]="faBootstrap"></fa-icon>
                        <div class="skill1">Bootstrap</div>
                    </div>
                    <div class="col-4 text-center">
                        <fa-icon [icon]="faJs"></fa-icon>
                        <div class="skill1">JavaScript</div>
                    </div>
                    <div class="col-4 text-center">
                        <fa-icon [icon]="faAngular"></fa-icon>
                        <div class="skill1">Angular</div>
                    </div>
                    <div class="col-4 text-center">
                        <fa-icon [icon]="faReact"></fa-icon>
                        <div class="skill1">React</div>
                    </div>
                    <div class="col-4 text-center">
                        <fa-icon [icon]="faNodeJs"></fa-icon>
                        <div class="skill1">NodeJs</div>
                    </div>
                    <div class="col-4 text-center">
                        <fa-icon [icon]="faJava"></fa-icon>
                        <div class="skill1">Java</div>
                    </div>
                    <div class="col-4 text-center">
                        <fa-icon [icon]="faGit"></fa-icon>
                        <div class="skill1">Git</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 d-none d-lg-block line align-self-center"></div>
            <div class="col-12 col-lg-2 order-first order-lg-last">
                <div class="rotate-text text-center">
                    <div class="text">Skills</div>
                </div>
            </div>
        </div>
    </div>
</section>