<router-outlet></router-outlet>

<section class="portfolio" style="overflow-y: hidden;">
    <section id="home">
        <app-navbar></app-navbar>
        <app-home></app-home>
    </section>

    <section id="about-me">
        <app-about-me></app-about-me>
    </section>

    <section class="pt-5" id="skills">
        <app-skills></app-skills>
    </section>


    <section id="education">
        <app-education></app-education>
    </section>

    <section class="pt-sm-2 pt-lg-5" id="contact">
        <app-contact></app-contact>
    </section>

    <section id="footer">
        <app-footer></app-footer>
    </section>
</section>