
<header id="navbar-sticky">
    <a class="logo p-2" routerLink="portfolio"><img src="../../../assets/logo.svg" alt="logo" height=30rem></a>
    <nav>
        <ul class="nav__links">
            <li><a (click)="Home()">Home</a></li>
            <li><a (click)="Aboutme()">AboutMe</a></li>
            <li><a (click)="Skills()">Skill</a></li>
            <li><a (click)="Education()">Education</a></li>
        </ul>
    </nav>
    <a class="cta" (click)="Contact()">Contact</a>
        <div class="p-3 menu float-right" (click)="opennav()">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 9.932 3.977"><defs><style>.a,.b{fill:none;stroke-linecap:round;}.a{stroke:#9cb5ff;}.b{stroke:#0f4bff;}</style></defs><g transform="translate(-55 -73)"><line class="a" x2="1.489" transform="translate(55.5 73.5)"/><line class="a" x1="1.489" transform="translate(62.944 76.477)"/><line class="a" x2="0.744" transform="translate(59.594 74.989)"/><line class="b" x2="2.977" transform="translate(55.5 74.989)"/><line class="b" x2="2.977" transform="translate(61.455 74.989)"/><line class="b" x2="5.955" transform="translate(58.477 73.5)"/><line class="b" x1="5.955" transform="translate(55.5 76.477)"/></g></svg>
        </div>
</header>
<div id="mobile__menu" class="overlay" [style.width]="show === true ? '100%' : '0'">
    <a (click)="opennav()" class="close float-right"><img  src="/assets/close.svg"  height=25rem width=30.5rem></a>
    <div class="overlay__content">
        <a (click)="toHome()">Home</a>
        <a (click)="toAboutme()">AboutMe</a>
        <a (click)="toSkills()">Skill</a>
        <a (click)="toEducation()">Education</a>
        <a (click)="toContact()" class="cta">Contact</a>
    </div>
</div>