<section class="home">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1 d-none d-lg-block align-self-center">
                <ul class="social-links text-center" data-aos="fade-right" data-aos-duration="1000">
                    <li>
                        <fa-icon [icon]="faSlack"></fa-icon>
                    </li>
                    <li>
                        <fa-icon [icon]="faFacebook"></fa-icon>
                    </li>
                    <li>
                        <fa-icon [icon]="faInstagram"></fa-icon>
                    </li>
                    <li>
                        <fa-icon [icon]="faLinkedin"></fa-icon>
                    </li>
                </ul>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 align-self-center">
                <div class="details">
                    <h1 class="text">VAMSI VARMA</h1>
                    <app-type-animation></app-type-animation>
                    <div class="dec d-none d-lg-block">
                        <p> I am a passionate character, who likes to work on web development and design.</p>
                    </div>
                    <div>
                        <button class="btn btn-color shadow p-2">Explore ME</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 p-5 align-self-center">
                <div class="rotate text-center shadow-lg">
                    <app-user-animation></app-user-animation>
                </div>
            </div>
            <div class="col-12">
                <div class="icon-scroll"></div>
            </div>
        </div>
    </div>
</section>